body{
	background-color: #f8f8f8;
}
h1{
	font-size: 18px;
	margin: 20px;
}
p{
	color: #666;
}
#container{
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	padding:0 5px;
}
.imgList{
	width: 50px;
    margin-right: 5px;
    display: block;
}